* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding-top: 0px;
}

tooltip {
    background: #383D48;
    border-radius: 5px;
    color: #7aa2bd;
}

window#waybar {
    background: rgba(25, 25, 25, 0.2);
    padding-top: 2px;
    color: #7aa2bd;
}

#network {
    padding: 0 10px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

tooltip {
  border: 0;
}
tooltip label {
  color: #7aa2bd;
}

#workspaces {
    padding: 2px 2px;
    padding-top: 4px;
    background: transparent;
    border-radius: 5px;
    margin: 8px 5px;
}

#workspaces button {
    padding: 2px 2px;
    background: transparent;
    font-size: 24;
    color: #7aa2bd;
    border-bottom: 0px solid transparent;
}

#clock {
    padding: 2px 5px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

#battery {
    color: #7aa2bd;
    padding: 2px 10px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

#pulseaudio {
    padding: 0px 10px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

#custom-power {
    font-size: 16px;
    padding: 2px 11px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

#backlight {
    padding: 0px 11px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

#custom-notifications {
    font-size: 16px;
    padding: 2px 11px;
    background: rgba(25, 25, 25, 0.3);
    border-radius: 5px;
    margin: 8px 5px;
}

#mpris {
    font-size: 16px;
    padding: 2px 11px;
    background: transparent;
    border-radius: 5px;
    margin: 8px 5px;
}
