@import "colors/colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    margin: 0px;
    padding: 0px 2px;
}

tooltip {
    background-color: @fg;
    border-radius: 15px;
    color: @bg;
    border: 0;
}

window#waybar {
    background: transparent;
    border-radius: 30px;
    padding-top: 2px;
    color: @fg;
}

tooltip label {
  color: @bg;
}

#workspaces {
    padding: 2px 2px;
    padding-top: 4px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}

#workspaces button {
    padding: 2px 2px;
    background: transparent;
    font-size: 24px;
    color: @fg;
    border-bottom: 0px solid transparent;
}

#clock {
    padding: 2px 10px;
    color: @fg;
    background: #181C1F;
    border-radius: 30px;
    margin: 7px 5px;
}

#battery {
    padding: 2px 10px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}

#pulseaudio {
    padding: 0px 10px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
    font-size: 18px;
}

#custom-power {
    font-size: 16px;
    padding: 2px 11px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}

#backlight {
    padding: 2px 11px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
    font-size: 16px;
}

#network {
    padding: 0 10px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}

#mpris {
    font-size: 16px;
    padding: 2px 11px;
    background: transparent;
    color: @fg;
    border-radius: 30px;
    margin: 7px 5px;
}
