@import "colors/colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family:
        "Noto Sans", "Adwaita Mono", "Noto Sans Mono",
        "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    margin: 0px;
    padding: 0px 2px;
}

tooltip {
    background-color: @fg;
    border-radius: 15px;
    color: @bg;
    border: 0;
}

window#waybar {
    background: transparent;
    border-radius: 30px;
    color: @fg;
}

tooltip label {
    color: @bg;
}

.modules-left,
.modules-center {
    background: transparent;
    margin: 0px 0px;
    border-radius: 30px;
}

.modules-right {
    background: transparent;
    margin: 0px 0px;
    border-radius: 30px;
}

#workspaces {
    padding: 10px 10px;
    background: @bg;
    margin: 7px 5px;
}

#workspaces button {
    padding: 0px 2px;
    background: transparent;
    font-size: 24px;
    color: @fg;
    border-radius: 15px;
    transition: all 150ms ease-in-out;
}

#workspaces button.active {
    min-width: 40px;
    background: @fg;
    color: @bg;
    border-radius: 15px;
}

#clock,
#pulseaudio,
#backlight,
#custom-power,
#network,
#battery,
#workspaces {
    border-radius: 15px;
    border-color: @fg;
}

#clock {
    padding: 0px 10px;
    color: @fg;
    background: @bg;
    margin: 7px 5px;
}

#battery {
    font-size: 18px;
    padding: 0px 10px;
    background: @bg;
    margin: 7px 5px;
}

#pulseaudio {
    padding: 0px 10px;
    background: @bg;
    margin: 7px 5px;
    font-size: 18px;
}

#custom-power {
    font-size: 16px;
    padding: 0px 10px;
    background: @bg;
    margin: 7px 5px;
}

#backlight {
    padding: 0px 10px;
    background: @bg;
    margin: 7px 5px;
    font-size: 16px;
}

#network {
    padding: 0px 10px;
    background: @bg;
    margin: 7px 5px;
}

#mpris {
    font-size: 16px;
    padding: 0px 10px;
    background: @bg;
    color: @fg;
    border-radius: 30px;
    margin: 7px 5px;
}
